body {
  font-family: 'Times New Roman', Times, serif, sans-serif;
  background-color: #b5c6e0;
  margin: 0;
  padding: 0;
}

.deployment-section {
  padding: 20px 20px;
  text-align: center;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
}

.deployment-section h1 {
  font-size: 32px;
  margin-bottom: 30px;
}

.deployment-section p {
  font-size: 18px;
  color: #ebf4f5;
  margin-bottom: 40px;
}

.process-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.process-item {
  background: #ebf4f5;
  border-radius: 50%;
  padding: 30px;
  width: 250px;
  height: 250px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
  text-align: center;
  position: relative;
  z-index: 1;
  animation: highlight 2s ease infinite;
}

.process-item:hover {
  transform: scale(1.05);
  background-color: #e3f2fd;
  transition-duration: 2s;
}

.icon-container {
  background-color: #5b8a4c;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 10px;
  color: #fff;
  font-size: 30px;
}

.process-item h3 {
  font-size: 16px;
  margin: 10px 0;
}

.process-item p {
  color: #555;
  font-size: 14px;
}

.text-container {
  margin-left: 10px;
}

.process-thread {
  font-size: 24px;
  color: #432371;
  margin: 0 10px;
}


@keyframes highlight {
  0%, 100% {
    background-color: #fff;
    transform: scale(1);
  }
  50% {
    background-color: #e3f2fd;
    transform: scale(1.05);
  }
}

.process-item:nth-child(1) {
  animation-delay: 0s;
}

.process-item:nth-child(3) {
  animation-delay: 0.5s;
}

.process-item:nth-child(5) {
  animation-delay: 1s;
}

.process-item:nth-child(7) {
  animation-delay: 1.5s;
}

.process-item:nth-child(9) {
  animation-delay: 2s;
}

.process-item:nth-child(11) {
  animation-delay: 2.5s;
}