@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

:root{
    --bg-color: #333;
    --white: #fff;
    --active: #8d0a8d;
    --hover: #111;
}

body{
    display: flex;
}

header{
    display: flex;
    background-color:   #333;
    justify-content: flex-end;
    align-items: center;
    width: 100vw;
    padding: 15px 10%;
}

.name{
    color: #F78100;
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    margin-right: auto;
}
.navbar{
    list-style: none;
}

a{
    text-decoration: none;
}
nav ul{
    list-style-type: none;
}
nav ul li{
    display:inline-block;
    /* padding: 0 20px; */
}


nav ul li a {
    display: block; /*by default <a> is inline element, modified to block element. */
    padding: 14px 16px;
    text-decoration: none;
    color: var(--white);
    transition: 0.5s;
}

nav ul li a.active{
    background-color: var(--active);
}

nav ul li a:hover:not(.active){ /*selects non-active elements */
    background-color: var(--hover);
}

.callus{
    background-color: #F78100;
    padding: 10px 25px;
    color: #fff;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.2) 0 10px 10px;
    transition: 0.5s;
    z-index: 1; 
    border-radius: 50px;
}

.callus:hover{
    background-color: green;
    transition: 0.5s;
}
